Pandas objects: 
- enhanced versions of NumPy structured arrays
- rows and columns are identified with labels rather than integer indices

In [1]:
import numpy as np
import pandas as pd

# The Pandas Series Object

- 1D array of indexed data
- can be created from a list or array
- wraps both a sequence of values and a sequence of indices
- they can be accessed with 'values' and 'index' attributes
- data can be accessed by the associated index via the square-bracket notation

In [2]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [3]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [4]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
print(data[1])
print(data[1:3])

0.5
1    0.50
2    0.75
dtype: float64

## Series as generalized NumPy array

- difference from NumPy array is the presence of the index
- NumPy array has an implicitly defined integer index associated with the values
- explicit index definition in Pandas Series
- that way, index doesn't need to be an integer

In [6]:
data = pd.Series([0.25, 0.5, 0.75, 0.1], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    0.10
dtype: float64

In [7]:
data['b']

0.5

In [8]:
data = pd.Series([0.25, 0.5, 0.75, 0.1], index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    0.10
dtype: float64

In [9]:
data[5]

0.5

## Series as specialized dictionary

- series is a structure which maps typed keys to a set of typed values
- this typing is important

In [13]:
population_dict = {
    'Split': 175000,
    'Zagreb': 500000, 
    'Rijeka': 120000,
    'Osijek': 100000
}

population = pd.Series(population_dict)
population

Split     175000
Zagreb    500000
Rijeka    120000
Osijek    100000
dtype: int64

In [14]:
population["Rijeka"]

120000

In [15]:
population['Split':'Rijeka']

Split     175000
Zagreb    500000
Rijeka    120000
dtype: int64

## Constructing Series Object

### pd.Series(data, index=index)
- index is an optional argument
- data can be one of many entitites
- e.g. list or NumPy array

data can be:
- scalar which is repeated to fill the specified index
- dictionary in which index defaults to the sorted dictionary keys

In [16]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [17]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [18]:
pd.Series({2:'a', 1:'b', 3: 'c'})

2    a
1    b
3    c
dtype: object

In [20]:
# index can be explicitly set
# Series is populated only with the explicitly identified keys

pd.Series({2:'a', 1:'b', 3: 'c'}, index=[3, 2])

3    c
2    a
dtype: object

# Pandas DataFrame Object

Can be thought of as:
- generalization of a NumPy array
- specialization of a Python dictionary

## DataFrame as a generalized NumPy array

- analog of a 2D array with flexible row indices, and column names
- can be thought of as a sequence of aligned Series object
- aligned ~ share the same index
- both columns and rows have a generalized index for accessing the data

In [21]:
area_dict = {'Split': 21000, 'Zagreb': 10000, 'Rijeka': 51000, 'Osijek': 31000}

area = pd.Series(area_dict)
area

Split     21000
Zagreb    10000
Rijeka    51000
Osijek    31000
dtype: int64

In [23]:
cities = pd.DataFrame({'population': population, 'area': area})
cities

        population   area
Split       175000  21000
Zagreb      500000  10000
Rijeka      120000  51000
Osijek      100000  31000

In [24]:
cities.index

Index(['Split', 'Zagreb', 'Rijeka', 'Osijek'], dtype='object')

In [25]:
cities.columns

Index(['population', 'area'], dtype='object')

## Dataframe as specialized dictionary

- DataFrame maps a column name to a series of column data

In [26]:
cities['area']

Split     21000
Zagreb    10000
Rijeka    51000
Osijek    31000
Name: area, dtype: int64

## Constructing DataFrame Objects

## From a single Series object

In [27]:
pd.DataFrame(population, columns=["population"])

        population
Split       175000
Zagreb      500000
Rijeka      120000
Osijek      100000

### From a  list of dicts

In [28]:
data = [{'a': i, 'b':2*i} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [30]:
# even if some dictionary keys in the dictionary are missing
# pandas will fill them with NaN values

pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

### From a dictionary of Series objects

In [31]:
pd.DataFrame({'population': population, 'area': area})

        population   area
Split       175000  21000
Zagreb      500000  10000
Rijeka      120000  51000
Osijek      100000  31000

### From a 2D NumPy array

- with specified column and index names
- if omitted, an integer index will be used for each

In [32]:
pd.DataFrame(np.random.rand(3, 2), columns=['foo', 'bar'], index= ['a', 'b', 'c'])

        foo       bar
a  0.466401  0.355694
b  0.065834  0.437202
c  0.457017  0.484722

### From a NumPy structured array

In [33]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [34]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

# The Pandas Index Object

- Series and DataFrame objects contain an explicit index
- index can be thought of as an immutable array or as an ordered set

In [35]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

## Index as immutable array

In [36]:
ind[1]

3

In [37]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [38]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [39]:
ind[1] = 0

TypeError: Index does not support mutable operations

## Index as ordered set

- Index object follows many of the conventions used by Python's set data structure
Can be computed:
- unions
- intersections
- differences
etc

In [40]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [41]:
# intersection

indA & indB

<ipython-input-41-bb7bc448dbbe>:3: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead
  indA & indB

Int64Index([3, 5, 7], dtype='int64')

In [42]:
# intersection

indA.intersection(indB)

Int64Index([3, 5, 7], dtype='int64')

In [43]:
# union

indA.union(indB)

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [44]:
# symmetric difference

indA.symmetric_difference(indB)

Int64Index([1, 2, 9, 11], dtype='int64')